@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

img:nth-child(2),
img:last-child {
  display: none;
}

@media only screen and (min-width: 25em) {

  img:nth-child(2),
  img:last-child {
    display: inline;
  }

  img:nth-child(n+2) {
    float: left;
    width: 50%;
  }
}

@media only screen and (min-width: 38em) {

  img:last-child {
    display: none;
  }

  img:nth-child(n+2) {
    width: 33.3334%;
  }

}

@media only screen and (min-width: 60em) {

  section {
    width: 100.1%;
  }

  img:first-child {
    width: 66.6666%;
    float: left;
  }

  img:nth-child(n+2) {
    width: 33.3334%;

  }

  img:last-child {
    display: inline;
  }

}

@media only screen and (min-width: 90em) {

  section {
    width: 100%;
  }

}
